* {
  font-family: "Inter";
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}

// html,
// body {
//   height: 100%;
// }

.container {
  max-width: 1022px;
  width: 100%;
  margin: 0 auto;
}

.header {
  width: 100%;
  height: 101px;
  background-color: #d9d9d9;
}

.aside {
  background-color: #d9d9d9;
  width: 14%;
  height: 1302px;
  float: left;
  margin-top: 40px;
}

.main {
  &__container {
    margin-top: 40px;
    // margin-left: 289px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 48px;
  }
  .blocks {
    width: 487px;
    height: 61px;
    background-color: #d9d9d9;
  }
}

.article {
  background-color: #d9d9d9;
  width: 1022px;
  height: 168px;
}

.section {
  &__container {
    display: grid;
    margin-top: 40px;
  }
  &__title {
    display: flex;
    column-gap: 50px;
    align-items: center;
    border-top: 3px solid rgb(217, 217, 217);
    width: 1022px;

    padding-top: 20px;
  }

  &__title-comms {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    border-bottom: 3px solid black;
    padding-bottom: 5px;
    .amount {
      opacity: 0.4;
    }
  }

  &__title-sort {
    display: flex;
    // column-gap: 50px;
    opacity: 0.4;
    margin-right: 50px;
    & * {
      border-bottom: 3px solid rgb(217, 217, 217);
      font-size: 16px;
      font-weight: 400;
      line-height: 19px;
      height: 20px;
    }

    .sort-arrow {
      width: 15px;
      height: 14px;
      background: url("../image/arrow.svg") no-repeat;
      border: none;
      position: relative;
      top: 4px;
      margin-right: 50px;
      margin-left: 6px;
    }
    .sort-favorite {
      width: 21px;
      height: 21px;
      background: url("../image/favorite.svg") no-repeat;
      border: none;
      margin-left: 9px;
    }
  }

  &__input-comment {
    display: flex;
    margin-top: 32px;
    column-gap: 30px;
  }
  &__input-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  &__description {
    display: flex;
    column-gap: 378px;
    margin-bottom: 15px;
  }
  .nickname {
    color: rgb(18, 42, 192);
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
  }
  .simbols {
    color: rgb(0, 0, 0, 0.4);

    font-style: italic;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
  }

  &__form {
    display: flex;
    align-items: center;

    &-button {
      border-radius: 5px;
      border: none;

      padding: 20px 59px;

      font-size: 18px;
      font-weight: 400;
      line-height: 22px;

      height: 61px;

      color: rgb(0, 0, 0);
      background-color: rgb(171, 216, 115);
      cursor: pointer;
      &:disabled {
        color: rgb(0, 0, 0, 0.5);
        background-color: rgb(162, 162, 162, 0.5);
      }
    }
  }

  .textarea {
    box-sizing: border-box;
    resize: none;
    max-width: 688px;
    width: 100%;
    height: 61px;
    margin-right: 30px;

    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);

    padding: 20px 30px;
    overflow: hidden;
    &::placeholder {
      color: rgb(0, 0, 0, 0.4);

      font-size: 18px;
    }

    &:focus {
      outline: 0;
      outline-offset: 0;
    }
  }
  &__comment {
    display: flex;
    column-gap: 18px;
    margin-top: 40px;

    &-header {
      display: flex;
      align-items: center;
      column-gap: 15px;
      margin-bottom: 10px;
    }

    &-functional {
      display: flex;
      align-items: center;
      column-gap: 18px;
      margin-top: 16px;

      color: rgb(0, 0, 0, 0.4);

      .answer {
        margin-left: 8px;
      }
      .favorite {
        margin-left: 8px;
      }
    }
    &-functional * {
      display: flex;
    }

    &-favorite {
      cursor: pointer;
      user-select: none;
    }
    &-answer {
      cursor: pointer;
      user-select: none;
    }
    &-counter {
      column-gap: 10px;

      .section__comment-button {
        background-color: rgb(0, 0, 0, 0.1);
        border-radius: 50%;

        flex: 0 0 20px;
        height: 20px;

        align-items: center;
        justify-content: center;

        user-select: none;
        cursor: pointer;
      }

      .plus {
        color: rgb(138, 197, 64);
      }

      .minus {
        color: rgb(255, 0, 0);
      }
    }
    &-like {
      font-weight: 500;
    }
  }
  .reply {
    margin-top: 28px;
    margin-left: 75px;
    .header-reply {
      display: flex;
      align-items: center;
      column-gap: 13px;
      color: rgb(0, 0, 0, 0.4);
    }
  }
}

// select

* {
  box-sizing: border-box;
}
h1 {
  display: flex;
  justify-content: center;
}

.__select {
  position: relative;
  width: 230px;
  height: 40px;
  margin: 0 auto;

  &[data-state="active"] {
    .__select__title {
      &::before {
        transform: translate(-3px, -50%) rotate(-45deg);
      }

      &::after {
        transform: translate(3px, -50%) rotate(45deg);
      }
    }

    .__select__content {
      opacity: 1;
    }

    .__select__label + .__select__input + .__select__label {
      max-height: 40px;
      border-top-width: 1px;
    }
  }
}
.__select__title {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 8px 16px;

  border-radius: 5px;
  border: solid 1px #c7ccd1;

  cursor: pointer;

  &::before,
  &::after {
    content: "";

    position: absolute;
    top: 50%;
    right: 16px;

    display: block;
    width: 10px;
    height: 2px;

    transition: all 0.3s ease-out;

    background-color: #333333;

    transform: translate(-3px, -50%) rotate(45deg);
  }
  &::after {
    transform: translate(3px, -50%) rotate(-45deg);
  }

  &:hover {
    border-color: #d8093a;

    &::before,
    &::after {
      background-color: #d8093a;
    }
  }
}
.reset {
  display: flex;
  width: 230px;
  padding: 8px 16px;
  margin: 0 auto;
  margin-bottom: 10px;

  border: solid 1px #c7ccd1;
  border-radius: 5px;

  transition: all 0.2s ease-out;

  cursor: pointer;

  font-weight: bold;

  background-color: #ffffff;
  color: #333333;

  &:hover {
    background-color: #d8093a;
    color: #ffffff;
  }
}
.__select__content {
  position: absolute;
  top: 40px;
  left: 3px;

  display: flex;
  flex-direction: column;
  width: calc(100% - 6px);

  background-color: #ffffff;

  border: 1px solid #c7ccd1;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  transition: all 0.3s ease-out;

  opacity: 0;
  z-index: 8;
}
.__select__input {
  display: none;

  &:checked + label {
    background-color: #dedede;
  }
  &:disabled + label {
    opacity: 0.6;
    pointer-events: none;
  }
}
.__select__label {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  max-height: 0;
  padding: 0 16px;

  transition: all 0.2s ease-out;

  cursor: pointer;

  overflow: hidden;

  & + input + & {
    border-top: 0 solid #c7ccd160;
  }

  &:hover {
    background-color: #d8093a !important;

    color: #ffffff;
  }
}
